body{
    background-image: url(https://www.colorhexa.com/fcc200.png); 
    background-size: cover;
    background-repeat: no-repeat;
}
#one{
	width: 760px;
	height: 480px;
	width: 760px;
	height: 480px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 100%;
}
#two{
	font-family: Architects Daughter;
	font-size: 70px;
	color: purple;
	text-align: center;
	text-shadow: 10px 15px 3px darkblue;
	margin-top: 50px;
	margin-bottom: 50px;
}
#three{
	font-size: 25px;
	color: darkblue;
	margin-top: 50px;
	margin-bottom: 50px;
}
#four{
	color:purple; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#five{
	color:greenyellow; 
	font-family: Syne Tactile;
	font-size:40px;
	margin-top: 50px;
	margin-bottom: 50px;
}
table, th, td{
	font-size: 20px;
	border: 2px solid grey;
	border-collapse: collapse;
	text-align: center;
	line-height: 25px;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
th{
font-size: 25px;
color: yellowgreen;
}
td{
color: red;
}
table{
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), url(https://th.bing.com/th/id/R.fff70ed85423619ddbdb9988c5e0a413?rik=1loctNZ524pi4Q&riu=http%3a%2f%2fi1.hoopchina.com.cn%2fhupuapp%2fkanqiu%2f202012%2fbf1b34f050aa4ec2b58579533fd0efeb.JPG&ehk=qPp5sfiol2IZhiS61l4v%2fkBDKojf9sC5OJRuKf21oY4%3d&risl=&pid=ImgRaw&r=0);	
	background-size: cover;
	width: 70%;
}
#five{
	color:greenyellow; 
	font-family: Syne Tactile;
	font-size:40px;"
	margin-top: 50px;
	margin-bottom: 50px;
}
.six{
	width: 550px;
    height: 360px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 50px;
	margin-bottom: 50px;
}
.seven{
	width: 550px;
    height: 360px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 50px;
	margin-bottom: 50px;
}
.eight{
	width: 550px;
    height: 360px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 50px;
	margin-bottom: 50px;
}
#nine{
	color: purple; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#ten{
	color: greenyellow; 
	font-family: Syne Tactile;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#eleven{
	margin: 10px;
	padding: 4px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#twelve{
	color: greenyellow; 
	font-family: Syne Tactile;
	font-size:40px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#thirteen{
	color: darkblue; 
	font-family: Roboto Mono; 
	font-size: 25px
}
#fourteen{
	color: purple; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#fifteen{
	width: 760px;
	height: 480px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 50px;
}
#sixteen{
    color: whitesmoke;
    font-family: Architects Daughter;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#seventeen{
	color: darkgoldenrod;
	font-size: 25px;
	margin: 18px;
	margin-top: 50px;
	margin-bottom: 100px;
}
#eighteen{
	color: lightyellow;
	font-family: Indie Flower;
	font-size: 60px;
}
.column{
	float: left;
	width: 33%;
	text-align: center;	
}
.nineteen{
	margin-left: 8px;
}
.twenty{
	color: ghostwhite;
	font-size: 30px;
	background-color: lightblue;
	margin-bottom: 50px;
}
table,th,td{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
th{
	background-color: green;
	color: whitesmoke;
}
#table th{
	background-color: yellow;
}
th:hover{
	background-color: yellow;
	color: black;
}
#Irving {
	background-image: url(https://th.bing.com/th/id/R.c369e4737fb29b779cdd51415bd42295?rik=AHOfceXl0Ofr7w&riu=http%3a%2f%2fww1.hdnux.com%2fphotos%2f44%2f02%2f44%2f9447728%2f3%2f920x920.jpg&ehk=0VztxKu2vLsJzVZJsHWSMNyapIZzEz7UyS80Zfj%2beZI%3d&risl=&pid=ImgRaw&r=0);
    width: 28%
}
#twenty-one{
	color: yellow;
	font-family: Indie Flower;
	font-size: 50px;
}
#twenty-two{
	margin-bottom: 50px;
	margin-top: 50px;
	border-radius: 50px;
	width: 760px;
	height: 420px;
}
#twenty-three{
	font-family: Architects Daughter;
	font-size: 70px;
	color: whitesmoke;
	text-align: center;
	text-shadow: 10px 15px 3px darkblue;
	margin-top: 50px;
	margin-bottom: 50px;
}
#twenty-four{
	font-size: 25px;
	color: orange;
	margin-top: 50px;
	margin-bottom: 50px;
}
#twenty-five{
	color:purple; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#twenty-six{
     color: yellow; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;	
}
#AI{
	background-image: url(https://th.bing.com/th/id/R.f033f67e475e3bb975792967811c4f8e?rik=PridFAxnKDQ71w&riu=http%3a%2f%2fwww.sinaimg.cn%2fdy%2fslidenews%2f2_img%2f2011_23%2f808_385424_967350.jpg&ehk=ismfVMNzQ%2fx3jSdKuovJvel%2bTA6v9vW4o8LqM4p9ekA%3d&risl=&pid=ImgRaw&r=0);
    width: 26%
}
#twenty-seven{
    margin-bottom: 50px;
    margin-top: 50px;
    width: 740px;
    height: 480px;
    border-color: sliver;
    border-collapse: collapse;
    border-radius: 50px;
    border: 4px;
}
#twenty-eight{
	font-family: Architects Daughter;
	font-size: 70px;
	color: grey;
	text-align: center;
	text-shadow: 10px 15px 3px darkblue;
	margin-top: 50px;
	margin-bottom: 50px;
}
#twenty-nine{
	font-size: 25px;
	color: brown;
	margin-top: 50px;
	margin-bottom: 50px;
}
#thirty{
	color: lightyellow; 
	font-family: Indie Flower; 
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.players{
    width: 400px;
    height: 480px;
}
.describe{
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px;
	margin-left: -8px;
	font-size: 20px;
	font-style: italic;	
}
ul{
	margin-left: -40px;
	margin-top: -1px;
}
.describe:hover{
    background-color: purple;
}
#thirty-four{
	font-family: Architects Daughter;
	font-size: 50px;
	color: purple;
}
#form{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
}
.A{
	float: left;
	width: 25%;
	text-align: center;
	margin: 50px;
}
#thirty-one{
	font-family: Indie Flower;
	font-size: 60px;
	color: purple;
}